/*///////////////////////////////// user list /////////*/
/*////////// searchBar //////////*/
#users_toolbar {
    background-color: var(--twitter_blue);
    padding: 8px 3%;
    display: grid;
    grid-template-columns: 1fr 45px;
    grid-template-rows: 45px;
    align-items: stretch;
    justify-items: stretch;
    border-right: 3px solid #0b80d0;
    max-width: 100%;

    /*disable the icon and text*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#search_bar {
    background-color: white;
    border-radius: 40px;
    display: grid;
    margin-right: 7px;
    grid-template-columns: 35px 1fr;
    box-shadow: 0px 1px 5px #1a4586;
    transition: 80ms;
}
#search_input {
    outline: none;
    background-color: transparent;
    padding: 12px 13px;
    width: 100%;
    border-width: 0px;
    color: var(--chatroom_blue);
    align-items: stretch;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
#search_bar img {
    background-color: transparent;
    align-self: center;
    padding-left: 10px;
}
/*////////// add_contact ///*/
#add_contact {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #1a4586;
    display: grid;
    justify-content: center;
    align-content: center;
}
#add_contact:hover {
    background-color: var(--btn_hover);
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
/*////////// add_contact_panel //////////*/
button::-moz-focus-inner {
    outline: none;
    border: none;
}
#add_contact_panel {
    background-color: var(--twitter_blue);
    padding: 8px 3%;
    display: none;
    grid-template-rows: 45px;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    border-right: 3px solid #0b80d0;

    /*disable the icon and text*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/*/// buttons ///*/
.cancel_ok_btns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}
.cancel_ok_btns button{
    background-color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 1px 5px #1a4586;
}
.cancel_ok_btns button:hover{
    background-color: var(--btn_hover);
    transition: 200ms;
}
#add_contact_btn:hover {
    background-color: #4f4;
}
/*/// inputs ///*/
.add_contact_input {
    background-color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 12px 20px;
    color: var(--chatroom_blue);
    align-items: stretch;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    box-shadow: 0px 1px 5px #1a4586;
    transition: 80ms;
}
@media (max-width: 1200px) and (min-width: 861px) {
    .cancel_ok_btns {
        width: 75%;
    }
    .add_contact_input {
        width: 84%;
    }
    
}

/*////////////////////// userList //////////*/
#user_list {
    overflow-y: scroll;
}
/*////////// user //////////*/
.user {
    color: white;
    border-top: 1px solid var(--border_blue);
    border-bottom: 1px solid var(--border_blue);
    padding: 0px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 60px;
}
.user_name {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.user:hover {
    background-color: var(--hover_blue);
    color: var(--twitter_blue);
    transition: 100ms;
}
.user_last_message {
    color: var(--twitter_blue);
    justify-self: self-end;
    margin-right: 10px;
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}